* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* --blue-white: #FFF1D0;
    --aqua: #FCE7CA;
    --blue-aqua: #DB7688;
    --aqua-dark: #CF4D6F; */

    --papaya-whip: #FFF1D0;
    --blanched-almond: #FCE7CA;
    --shimmering-blush: #DB7688;
    --ruber: #CF4D6F;
}
